@import 'https://code.highcharts.com/css/highcharts.css';
@import 'https://code.highcharts.com/css/themes/sand-signika.css';

.highcharts-grid {
    stroke-width: 0;
    stroke: none;
}

.highcharts-grid-line {
    stroke: none;
}

.highcharts-state-hover .highcharts-graph {
    stroke-width: 1;
}

.highcharts-point-inactive {
    opacity: 1;
    transition: opacity 0ms; /* quick in */
}

.highcharts-series-inactive {
    opacity: 1;
    transition: opacity 0ms; /* quick in */
}

.highcharts-state-hover path {
    transition: stroke-width 0ms; /* quick in */
}

.highcharts-state-normal path {
    transition: stroke-width 0ms; /* slow out */
}

.highcharts-markers {
    opacity: 0;
}