* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {scroll-behavior: smooth;}

body {
    margin: 2vw;
    color: #e0e0e0;
}

.landing_chart {
    display: flex;
    justify-content: center;
}

.svg {
    height: 30vh;
    width: auto;
    margin-bottom: 1rem;
/*     padding: 1vw; */
}

.chart_drawing {
    display: flex;
    flex-direction: row;
}

.topinfo-c {
    margin-left: 1vw;
    font-family: 'Space Mono';
    color: #0009b5;
}

.btn_r-c {
    fill: #0009b5;
}

.btn-c {
    padding: 0.2rem;
    stroke: #0009b5;
}

.topinfo-cd {
    margin-left: 1vw;
    font-family: 'Space Mono';
    color: #890050;
}

.btn_r-cd {
    fill: #890050;
}

.btn-cd {
    padding: 0.2rem;
    stroke: #890050;
}

.topinfo-v {
    margin-left: 1vw;
    font-family: 'Space Mono';
    color: #7d3600;
}

.btn_r-v {
    fill: #7d3600;
}

.btn-v {
    padding: 0.2rem;
    stroke: #7d3600;
}

.topinfo-d {
    margin-left: 1vw;
    font-family: 'Space Mono';
    color: #3e0079;
}

.btn_r-d {
    fill: #3e0079;
}

.btn-d {
    padding: 0.2rem;
    stroke: #3e0079;
}

.topinfo-s {
    margin-left: 1vw;
    font-family: 'Space Mono';
    color: #0e5200;
}

.btn_r-s {
    fill: #0e5200;
}

.btn-s {
    padding: 0.2rem;
    stroke: #0e5200;
}

.nav_btns {
    height: 2rem;
    width: auto;
    padding: 0.2rem;
}

.bckfwd {
    margin: 0 0 1vh 1vw;
}

button {
    all: unset;
    cursor: pointer;
}

a { 
    text-decoration: none;
    margin: 0;
}

.landing-title {
    color: #000;
    width: 45vw;
}

.landing-title h1 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1rem;
    font-family: 'Space Mono';
}

.landing-title h2 {
    font-family: 'Space Mono';
    font-size: 1rem;
    font-weight: 300;
    line-height: 75%;
    margin-bottom: 1rem;
    animation: color-change 3s infinite;
}

@keyframes color-change {
    0% { color: #7d3600; }
    25% { color: #0009b5; }
    50% { color: #890050; }
    75% { color: #3e0079; }
    100% { color: #0e5200; }
  }

.landing-title hr {
    width: 25vw;
    margin-top: 0;
    margin-bottom: 2rem;
}

.landing-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.landing-title p {
    margin-bottom: 4rem;
}

h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Space Mono';
    line-height: 4rem;
}

h2 {
    font-weight: 300;
    font-family: 'Space Mono';
    
    font-size: 1rem;
}

p {
    font-family: 'IBM Plex Mono';
    line-height: 1.5rem;
}

b {
    font-weight: 600;
}

.emptyline {
    line-height: 100%;
}

.article {
    font-family: 'Space Mono';
    color: #000;
    width: 70vw;   
}

.arrticle {
    display: flex;
    justify-content: center;
}

.scrollink {
    font-size: 3rem;
    width: 60%;
    text-align: center;
    line-height: 5rem;
    text-decoration: none;
    color: inherit;
}

.divider {
    display: flex;
    justify-content: center;
}

hr {
    border-width: 1px;
    margin: 3rem 0 3rem 0;
    opacity: 20%;
    width: 50%;
    border-color: #dddddd;
    text-align: center;
}

#doublearrow {
    writing-mode: vertical-lr;
    margin: 2rem 0 0 1vw;
    line-height: 0;
    font-weight: 400;
}

.noback-r {
    fill: #cccccc;
}

.noback {
    stroke: #cccccc;
}

.bigchart {
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin: 4rem 0;
}

.buttons {
    align-self: center;
}

.buttons button {
    margin: 1rem;
    margin-top: 0;
}

.artbody {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: top; /* align-items: start; ?? */
    width: 70vw;
}

.artbody p{
    margin-right: 5vw;
    font-family: 'IBM Plex Mono';
    width: 50vw;
}

.article p {
    width: 25vw;
}

.article h3 {
    width: 25vw;
}

.article hr {
    width: 10vw;
    margin: 0 0 1rem 0;
}

.artfig blockquote {
    margin-right: 5vw;
    display: block;
    width: 25vw;
    font-style: italic;
    font-family: 'IBM Plex Mono';
    line-height: 1.5rem;
}

.artfig figcaption {
    display: block;
    margin-right: 5vw;
    width: 25vw;
    font-family: 'IBM Plex Mono';
    line-height: 1.5rem;
    margin-top: 1rem;
}

cite a {
    font-style: italic;
    text-decoration: underline;
}

.cite-c a {
    color: #890050;
    background-color: #ffd3de;
}

.cite-s a {
    color: #0e5200;
    background-color: #ffec00;
}

.cite-d {
    color: #3e0079;
    background-color: #f7c2ec;
}

.to-streaming {
    color: #0e5200;
    background-color: #ffec00;
    text-decoration: underline;
    font-family: 'IBM Plex Mono';
}

.landscape {
    display: none;
}

.chart_drawing h1 {
    display: none;
}

#container-chart {
    max-width: 60%;
    height: 30vh;
}

#container-chart-2 {
    width: 40vw;
    height: 40vh;
}

#container-chart-main {
    max-width: 60%;
    height: 35vh;
    align-self: center;
}

#container-mashup {
    width: 40vw;
    height: 40vh;
}

#landing-1280 {
    display: inherit;
    width: 100%;
}

#landing-768 {
    display: none;
    width: 100%;
}

#landing-360 {
    display: none;
    width: 100%;
}

@media screen and (max-width: 768px) {

    body {
        margin: 8vw;
    }

    h1 {
        margin: 0 auto;
        margin-bottom: 3rem;
        font-size: 3rem;
        align-self: flex-start;
        line-height: 2.5rem;
        text-align: left;
        
    }

    .landing-flex {
        display: flex;
        flex-direction: column;

    }

    h2 {
        font-size: 1rem;
    }

    .scrollink {
        font-size: 2rem;
    }
    
    .svg {
        width: 45vw;
        height: auto;
    }

    .landscape {
        display: inherit;
    }

    .portrait {
        display: none;
    }
    
    .topinfo-v {
        margin-left: 0;
        font-family: 'Space Mono';
        color: #7d3600;
    }

    .topinfo-v h1 {
        margin-left: 0;
        margin-right: 0;
    }

    .topinfo-c {
        margin-left: 0;
        font-family: 'Space Mono';
        color: #0009b5;
    }
    
    .topinfo-c h1 {
        margin-left: 0;
        margin-right: 0;
    }

    .topinfo-cd {
        margin-left: 0;
        font-family: 'Space Mono'; 
        color: #890050;
    }

    .topinfo-cd h1 {
        margin-left: 0;
        margin-right: 0;
    }

    .topinfo-d {
        margin-left: 0;
        font-family: 'Space Mono';
        color: #3e0079;
    }

    .topinfo-d h1 {
        margin-left: 0;
        margin-right: 0;
    }

    .topinfo-s {
        margin-left: 0;
        font-family: 'Space Mono';
        color: #0e5200;
    }

    .topinfo-s h1 {
        margin-left: 0;
        margin-right: 0;
    }

    #doublearrow {
        writing-mode: vertical-lr;
        margin: 2rem 0 0 3vw;
        line-height: 0;
        font-weight: 400;
    }

    .artbody {
        display: block;
        width: 100%;
    }
    
    .artbody p {
        margin-right: 5vw;
        font-family: 'IBM Plex Mono';
        font-weight: 300;
        width: 100%;
    }

    .article p {
        width: 100%;
    }

    .article h3 {
        width: 100%;
    }
    
    .article hr {
        width: 10vw;
        margin: 1rem 0;
    }
    
    .artfig blockquote {
        display: block;
        margin: 0 auto;
        width: 100%;
        font-style: italic;
        font-family: 'IBM Plex Mono';
    }
    
    .artfig figcaption {
        display: block;
        margin: 0 auto;
        width: 100%;
        font-family: 'IBM Plex Mono';
        margin-top: 1rem;
    }
    
    .cite-c a {
        color: #890050;
        font-style: normal;
        text-decoration: underline;
    }
    
    .to-streaming {
        color: #0e5200;
        text-decoration: underline;
        font-family: 'IBM Plex Mono';
    }
    
    #container-chart {
        width: 100%;
        max-width: 100%;
        height: 30vh;
    }

    #container-chart-2 {
        width: 100%;
        height: 20%;
    }

    #container-chart-main {
        width: 100%;
        max-width: 100%;
        height: 40vh;
        align-self: center;
    }

    #container-mashup {
        width: 100%;
        height: 20%;
    }

    .article {
        width: 70vw;
    }

    #arttitle {
        font-size: 2rem;
    }

    .chart_drawing {
        display: flex;
        flex-direction: column;
    }

    .chart_drawing h1 {
        display: inherit;
    }

    .h1-after {
        display: none;
    }

    #landing-1280 {
        display: none;
    }

    #landing-768 {
        display: none;
    }

    #landing-360 {
        display: inherit;
    }

    .landing-title {
        color: #000;
        width: 100%;
    }
    
    .landing-title h1 {
        width: 100%;
        font-size: 1rem;
        font-weight: 600;
        font-family: 'Space Mono';
    }
    
    .landing-title h2 {
        font-family: 'Space Mono';
        font-size: 1rem;
        font-weight: 300;
        margin-bottom: 1rem;
        animation: color-change 3s infinite;
    }
    
    .landing-title hr {
        margin-top: 0;
        margin-bottom: 3rem;
        width: 80vw;
    }
    
    .landing-title p {
        margin-bottom: 4rem;
    }

}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    
    h1 {
        line-height: 2rem;
    }

    #container-chart {
        width: 100%;
        max-width: 100%;
        height: 30vh;
    }

    #container-chart-2 {
        width: 100%;
        height: 20%;
    }

    #container-chart-main {
        width: 100%;
        max-width: 100%;
        height: 40vh;
        align-self: center;
    }

    #container-mashup {
        width: 100%;
        height: 20%;
    }

    .artbody {
        display: block;
        width: 50vw;
    }
    
    .artbody p {
        margin-right: 5vw;
        font-family: 'IBM Plex Mono';
        font-weight: 300;
        width: 100%;
    }

    .article p {
        width: 100%;
    }

    .article h3 {
        width: 100%;
    }
    
    .article hr {
        width: 10vw;
        margin: 1rem 0;
    }
    
    .artfig blockquote {
        display: block;
        width: 100%;
        font-style: italic;
        font-family: 'IBM Plex Mono';
    }
    
    .artfig figcaption {
        display: block;
        width: 100%;
        font-family: 'IBM Plex Mono';
        margin-top: 1rem;
    }
    
    .cite-c a {
        color: #890050;
        font-style: normal;
        text-decoration: underline;
    }
    
    .to-streaming {
        color: #0e5200;
        text-decoration: underline;
        font-family: 'IBM Plex Mono';
    }

    .article {
        width: 100%;
    }

    #arttitle {
        font-size: 2rem;
    }

    .chart_drawing h1 {
        display: none;
    }

    #landing-1280 {
        display: none;
    }

    #landing-768 {
        display: inherit;
    }

    #landing-360 {
        display: none;
    }

    .landing-title {
        color: #000;
        width: 50vw;
    }
    
    .landing-title h1 {
        font-size: 1rem;
        font-weight: 600;
        font-family: 'Space Mono';
    }
    
    .landing-title h2 {
        font-family: 'Space Mono';
        font-size: 1rem;
        font-weight: 300;
        margin-bottom: 1rem;
        animation: color-change 3s infinite;
    }
    
    .landing-title hr {
        margin-top: 0;
        margin-bottom: 3rem;
        width: 40vw;
    }
    
    .landing-title p {
        margin-bottom: 4rem;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .landing-title p {
        width: 54ch;
    }
    .artbody {
        width: 100%;
    }

}

@media screen and (min-width: 880px) and (max-width: 1200px) {
    .landing-title p {
        width: 54ch;
    }

    .article p, .article blockquote, .article figcaption, .article h3{
        width: 75%;
    }


    

    

    
}